
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Mail</title>
        <link rel="stylesheet" href="{% static 'mail/styles.css' %}">
        <button class="btn btn-sm btn-outline-primary" id="inbox">All Emails</button>
        <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
        <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
        <!--<button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>-->
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button class="btn btn-sm btn-outline-primary" type="submit">Log Out</button>
        <hr> <!-- Adds a horizontal line -->
        
        <div id="compose-view">
            <h3>Compose New Email</h3>
            <form id="compose-form" action="/compose/" method="POST">
                {% csrf_token %}
                <div>
                    From: <input id="compose-sender" placeholder="Sender" name="sender" required> 
                </div>
                <div>
                    To: <input id="compose-recipients" placeholder="Recipient" name="recipient" required>
                </div>
                <div>
                    <input id="compose-subject" placeholder="Subject" name="subject" required>
                </div>
                <textarea id="compose-body" placeholder="Body" name="body"></textarea>
                <input type="submit"/>
            </form>
        </div>
        
    </head>
    <body>
        <script>
            
                





            document.addEventListener('DOMContentLoaded', function () {
                    // Find the button by its ID
                    const button = document.getElementById("inbox");
                    // Add a click event listener to the button
                    button.addEventListener('click', function () {
                        // Redirect to the URL for page2
                        window.location.href = "/";
                    });
                });
            document.addEventListener('DOMContentLoaded', function () {
                // Find the button by its ID
                const button = document.getElementById("compose");
                // Add a click event listener to the button
                button.addEventListener('click', function () {
                    // Redirect to the URL for page2
                    window.location.href = "/compose";
                });
            });
            document.addEventListener('DOMContentLoaded', function () {
                // Find the button by its ID
                const button = document.getElementById("sent");
                // Add a click event listener to the button
                button.addEventListener('click', function () {
                    // Redirect to the URL for page2
                    window.location.href = "/sent";
                });
            });


            
        </script>
</body>