
{% extends "mail/base.html" %}
{% block if_authenticated %}
    <h2>Compose New Email</h2>
    <div>
        <form action="/compose/" method="POST">
            {% csrf_token %}
            <div>
                From: <input value="{{ user_email }}" name="sender" readonly required> 
            </div>
            <div>
                To: <input placeholder="Recipient" name="recipient" required>
            </div>
            <div>
                <input placeholder="Subject" name="subject" required>
            </div>
            <textarea placeholder="Body" name="body"></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}        