
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Mail</title>
        <link rel="stylesheet" href="{% static 'mail/styles.css' %}">
        <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
        <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
        <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
        <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
        <hr> <!-- Adds a horizontal line -->
        <div id="compose-view"><h3>New Email</h3></div>
        <button id="helloworld">Go to Hello World page</button>

        



    </head>
    <body>
        <script>
            // Wait for the DOM to load
            document.addEventListener('DOMContentLoaded', function () {
                    // Find the button by its ID
                    const button = document.getElementById("helloworld");

                    // Add a click event listener to the button
                    button.addEventListener('click', function () {
                        // Redirect to the URL for page2
                        window.location.href = "/hello";
                    });
                });
        </script>
</body>