
{% extends "mail/base.html" %}
{% block if_authenticated %}
    <h2>Sent Emails</h2>
    {% if emails %}
    <table>
        <thead>
            <tr>
                <th>Recipient</th>
                <th>Subject</th>
                <th>Body</th>
            </tr>
        </thead>
        <tbody>
            {% for email in emails %}
                <tr>
                    <td>{{ email.recipient }}</td>
                    <td>{{ email.subject }}</td>
                    <td>{{ email.body }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">No emails found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No emails found.</p>
    {% endif %}
{% endblock %}       